### Cargamos librerias

In [3]:
import os
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline
plt.style.use('seaborn')
import numpy as np

### Cargamos los datos

In [4]:
#path = '../Entrenamientos/result_tramos.xlsx'
#Usamos primero los tramos 'grandes'...
path = '../Entrenamientos/Procesado_Tramos.xlsx'

In [5]:
df = pd.read_excel(path)

In [6]:
df.describe()

,tramo,tramo_inicial,tramo_final,pwr,time_seg,dist,spd,viento_aparente,porc
count,283.000000,283.000000,283.000000,283.000000,283.000000,283.000000,283.000000,283.000000,283.000000
mean,50.038869,3626.088339,3695.734982,166.896851,138.798587,959.941520,30.333649,-inf,inf
std,33.047386,2359.016002,2353.448358,75.436162,294.498658,1563.664211,9.299367,NaN,NaN
min,0.000000,0.000000,12.000000,0.000000,1.000000,0.000000,0.000000,-inf,-6.677410
25%,23.000000,1523.000000,1603.000000,105.409955,20.000000,121.776438,24.367954,-7.440743,-1.070971
50%,47.000000,3523.000000,3526.000000,171.142659,56.000000,468.799905,29.952505,-2.644055,-0.007052
75%,70.000000,5937.500000,6115.000000,221.707288,125.000000,905.673921,36.336244,7.267631,1.200993
max,129.000000,7729.000000,7796.000000,648.000000,2761.000000,10273.070042,64.800000,18.939865,inf

In [8]:
df = df[df["viento_aparente"]!=-np.inf]

In [9]:
df.describe()

,tramo,tramo_inicial,tramo_final,pwr,time_seg,dist,spd,viento_aparente,porc
count,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000
mean,50.078014,3617.893617,3687.783688,166.678684,139.280142,963.345568,30.441215,-0.594445,-0.033003
std,33.099563,2359.171158,2353.821173,75.480779,294.910571,1565.393258,9.137827,7.454853,2.166262
min,0.000000,0.000000,12.000000,0.000000,1.000000,9.079168,0.770052,-14.676919,-6.677410
25%,23.000000,1522.500000,1596.500000,105.383618,20.250000,129.987954,24.412312,-7.399050,-1.072187
50%,47.000000,3514.500000,3525.500000,171.140529,56.500000,469.955006,29.964252,-2.633167,-0.013285
75%,70.000000,5937.250000,6124.000000,221.205250,125.000000,906.990831,36.381969,7.282974,1.194253
max,129.000000,7729.000000,7796.000000,648.000000,2761.000000,10273.070042,64.800000,18.939865,7.137195

In [10]:
df.head()

,tramo,tramo_inicial,tramo_final,pwr,time_seg,dist,spd,viento_aparente,porc,prueba
0,0,0,65,77.836186,106,966.000000,32.807547,8.398054,-3.377386,20180406_LEVS_195_90_R_E.gpx
1,1,65,432,255.381555,980,4819.000000,17.702449,5.337415,4.181100,20180406_LEVS_195_90_R_E.gpx
2,2,432,468,152.194252,44,473.935824,38.776567,8.311220,-1.737873,20180406_LEVS_195_90_R_E.gpx
3,3,468,532,248.770434,120,813.223602,24.396708,8.704791,2.662585,20180406_LEVS_195_90_R_E.gpx
4,4,532,548,155.753257,21,206.720563,35.437811,8.487546,-0.873144,20180406_LEVS_195_90_R_E.gpx

### Creamos la variable target No Pedalea <100w

In [33]:
df['target'] = [1 if x<100 else 0 for x in df['pwr']]

In [34]:
df.head()

,tramo,tramo_inicial,tramo_final,pwr,time_seg,dist,spd,viento_aparente,porc,prueba,target
0,0,0,65,77.836186,106,966.000000,32.807547,8.398054,-3.377386,20180406_LEVS_195_90_R_E.gpx,1
1,1,65,432,255.381555,980,4819.000000,17.702449,5.337415,4.181100,20180406_LEVS_195_90_R_E.gpx,0
2,2,432,468,152.194252,44,473.935824,38.776567,8.311220,-1.737873,20180406_LEVS_195_90_R_E.gpx,0
3,3,468,532,248.770434,120,813.223602,24.396708,8.704791,2.662585,20180406_LEVS_195_90_R_E.gpx,0
4,4,532,548,155.753257,21,206.720563,35.437811,8.487546,-0.873144,20180406_LEVS_195_90_R_E.gpx,0

In [35]:
df_lm = df[['dist','porc','viento_aparente','target']]

In [36]:
df_lm_x = df[['dist','porc','viento_aparente']]
df_lm_y = df[['target']]

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df_lm_x, df_lm_y, test_size=0.30, random_state=42)

### Probamos con Ensemble

In [54]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [44]:
rfc = RandomForestClassifier()

In [53]:
rfc.fit(X_train, Y_train)
Y_pred = rfc.predict(X_test)
mean_squared_error(Y_test,Y_pred)

C:\Users\David\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

0.23529411764705882

In [46]:
rfr = RandomForestRegressor()

In [50]:
rfr.fit(X_train, Y_train)
Y_pred = rfr.predict(X_test)
mean_squared_error(Y_test,Y_pred)

C:\Users\David\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

0.16870588235294118