In [1]:
#PRUEBAS CON ANGULOS

In [67]:
random.seed(45)
for bc in range(0,360,10):
    bv = randint(0,360)
    if bv+180 > 360:
        bv_mod = bv-180
    else:
        bv_mod = bv+180
    if bc > bv_mod:
        dif = bc-bv_mod
    else:
        dif = bv_mod-bc
        
    multiplicador_viento = mt.cos(dif/(180/mt.pi))
    print(bc, bv, bv_mod, dif, multiplicador_viento)

0 139 319 319 0.7547095802227719
10 213 33 23 0.9205048534524404
20 249 69 49 0.6560590289905073
30 131 311 281 0.19080899537654425
40 41 221 181 -0.9998476951563913
50 155 335 285 0.2588190451025203
60 173 353 293 0.3907311284892735
70 11 191 121 -0.5150380749100543
80 37 217 137 -0.7313537016191705
90 247 67 23 0.9205048534524404
100 5 185 85 0.08715574274765814
110 58 238 128 -0.6156614753256583
120 145 325 205 -0.90630778703665
130 60 240 110 -0.3420201433256687
140 159 339 199 -0.945518575599317
150 332 152 2 0.9993908270190958
160 18 198 38 0.7880107536067219
170 319 139 31 0.8571673007021123
180 34 214 34 0.8290375725550417
190 69 249 59 0.5150380749100543
200 139 319 119 -0.484809620246337
210 78 258 48 0.6691306063588582
220 108 288 68 0.3746065934159122
230 219 39 191 -0.981627183447664
240 38 218 22 0.9271838545667874
250 313 133 117 -0.45399049973954675
260 208 28 232 -0.6156614753256581
270 73 253 17 0.9563047559630355
280 358 178 102 -0.20791169081775934
290 29 209 81 0.15643446504023092
300 16 196 104 -0.24192189559966756
310 88 268 42 0.7431448254773942
320 164 344 24 0.9135454576426009
330 128 308 22 0.9271838545667874
340 182 2 338 0.9271838545667873
350 163 343 7 0.992546151641322

In [21]:
import math as mt
def func_bearing(bc,bv):
    if bv+180 > 360:
        bv_mod = bv-180
    else:
        bv_mod = bv+180
    if bc > bv_mod:
        dif = bc-bv_mod
    else:
        dif = bv_mod-bc
        
    multiplicador_viento = -mt.cos(dif/(180/mt.pi))
    #return(bc, bv, bv_mod, dif, multiplicador_viento)
    return(multiplicador_viento, dif)

In [43]:
func_bearing(0,0)[0]

1.0

In [5]:
import pandas as pd

In [7]:
f = pd.read_csv('../Entrenamientos/20180406_LEVS_195_90_R_E_ml.csv')

In [8]:
f.head()

,Unnamed: 0,timeoffset,hr,spd,pwr,cad,dist,lat,lon,alt,...,spd_prev,ele_prev,timeoffset_prev,new_ele,tramo,tramos_100,altura,peso,tpo_bici,tpo_entreno
0,0,27865,NaN,5.000000,0.0,NaN,0.0,40.519800,-3.929805,662.799988,...,0.000000,0.000000,0,661.131985,0,0,195,90,R,E
1,1,27867,NaN,5.141748,0.0,0.0,15.0,40.519850,-3.929899,661.417483,...,0.000000,662.799988,27865,660.841092,0,0,195,90,R,E
2,2,27868,NaN,5.200000,0.0,0.0,26.0,40.519883,-3.930019,661.610010,...,5.892366,661.417483,27867,660.532461,0,0,195,90,R,E
3,3,27870,NaN,5.238999,0.0,0.0,39.0,40.519872,-3.930170,659.610010,...,13.766347,661.610010,27868,660.206093,0,0,195,90,R,E
4,4,27872,NaN,5.300000,0.0,0.0,52.0,40.519832,-3.930314,659.000000,...,8.371067,659.610010,27870,659.861987,0,0,195,90,R,E

In [10]:
f['bearing'].describe()

count    7586.000000
mean      188.150629
std       106.114510
min         0.000000
25%       106.208693
50%       186.806066
75%       288.735069
max       359.997843
Name: bearing, dtype: float64

In [2]:
import pandas as pd
f = pd.read_excel('../../../../Proyecto_Ironman_DataWeb/Prod_Track/output.xlsx')

In [3]:
f.head()

,tiempo,fecha,time_seg,lat,lon,ele,dist,time_elapse,desnivel,acum_dist,new_ele,tramo,tramos_100
0,0,0,0,36.492155,-4.951194,7.4,0.000000,0,0.0,0.000000,8.482331,0,0
1,0,0,0,36.492206,-4.951219,7.6,6.085050,0,0.2,6.085050,8.303446,0,0
2,0,0,0,36.492258,-4.951246,7.6,6.304790,0,0.0,12.389840,8.138315,0,0
3,0,0,0,36.492425,-4.951434,7.6,24.996555,0,0.0,37.386396,7.986940,0,0
4,0,0,0,36.492467,-4.951484,7.8,6.493476,0,0.2,43.879872,7.849320,0,0

In [4]:
type(f)

pandas.core.frame.DataFrame

In [5]:
len(f)

4024

In [48]:
import pandas as pd
import math as mt
from scipy.signal import savgol_filter
from geopy.distance import distance
from geopy import Point
import math as mt

def func_bearing(bc,bv):
    if bv+180 > 360:
        bv_mod = bv-180
    else:
        bv_mod = bv+180
    if bc > bv_mod:
        dif = bc-bv_mod
    else:
        dif = bv_mod-bc
        
    multiplicador_viento = -mt.cos(dif/(180/mt.pi))
    #return(bc, bv, bv_mod, dif, multiplicador_viento)
    return(multiplicador_viento, dif)

def sync_bearing(ori_bearing):
    if ori_bearing < -90:
        new_bearing = 450+ori_bearing
    else:
        new_bearing = ori_bearing+90
    return new_bearing

bv=0
bearing=[]
bearing.append(0)
wind=[]
wind.append(0)
mult=[]
mult.append(0)
i=1
while i < len(f):
    
    lona = f.iloc[i-1]['lon']
    lata = f.iloc[i-1]['lat']
    lonb = f.iloc[i]['lon']
    latb = f.iloc[i]['lat']
    X = mt.cos(lonb)*mt.sin(latb-lata)
    Y = mt.cos(lona)*mt.sin(lonb)-mt.sin(lona)*mt.cos(lonb)*mt.cos(latb-lata)
    #bearing.append(mt.atan2(X,Y)*57.2957795)  Se modifica por la siguiente línea que corrige estandariza el ángulo
    bearing.append(sync_bearing(mt.atan2(X,Y)*57.2957795))
    mult.append(func_bearing(sync_bearing(mt.atan2(X,Y)*57.2957795),bv)[0])
    wind.append(func_bearing(sync_bearing(mt.atan2(X,Y)*57.2957795),bv)[1])
    i+=1
    

f['bearing']=bearing
f['wind']=wind
f['mult']=mult

In [49]:
f.head()

,tiempo,fecha,time_seg,lat,lon,ele,dist,time_elapse,desnivel,acum_dist,new_ele,tramo,tramos_100,bearing,wind,mult
0,0,0,0,36.492155,-4.951194,7.4,0.000000,0,0.0,0.000000,8.482331,0,0,0.000000,0.000000,0.000000
1,0,0,0,36.492206,-4.951219,7.6,6.085050,0,0.2,6.085050,8.303446,0,0,244.046661,64.046661,-0.437639
2,0,0,0,36.492258,-4.951246,7.6,6.304790,0,0.0,12.389840,8.138315,0,0,245.060085,65.060085,-0.421668
3,0,0,0,36.492425,-4.951434,7.6,24.996555,0,0.0,37.386396,7.986940,0,0,258.143421,78.143421,-0.205463
4,0,0,0,36.492467,-4.951484,7.8,6.493476,0,0.2,43.879872,7.849320,0,0,258.671957,78.671957,-0.196426